# 1. Place content in the file /etc/systemd/system/rbua-cloud-init.service
# 2. Run service:      systemctl start rbua-cloud-init
# 3. Check status:     systemctl status rbua-cloud-init
# 4. Enable autostart: systemctl enable rbua-cloud-init
# 5. Remove `/opt/rbua-cloud-init/rbua-cloud-init.configured` file before creating AMI of the instance.

[Unit]
Description=Retrieve EC2 user-data using IMDSv2 and execute on startup
After=network.target
After=network-online.target
Before=zabbix-agent.service
Before=appdynamics-ma-agent.service

[Service]
Type=oneshot
TimeoutSec=60
ExecStart=/bin/bash -c 'TOKEN=`curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"` \
                        && bash <(curl -H "X-aws-ec2-metadata-token: $TOKEN" -v http://169.254.169.254/latest/user-data)'

[Install]
WantedBy=multi-user.target
